/* colors */
$color_white: rgba(255, 255, 255, 1);
$color_border-white: rgba(249, 253, 252, 1);

$color_dark-grey: rgba(69, 69, 69, 1);
$color_medium-gray: rgba(74, 74, 74, 1);
$color_soft-gray: rgba(191, 191, 191, 1);

$color_black: rgba(0, 0, 0, 1);
$color_dark-blue: rgba(21, 43, 60, 1);
$color_marsh: rgba(0, 153, 137, 1);
$color_red: rgba(243, 71, 57, 1);
$color_footer: rgba(16, 16, 16, 1);

/* fonts */
$font_main: 'Quicksand', sans-serif;
$font_secondary: 'Dosis', sans-serif;

/* media queries
@include max-screen(1024) {}
@include max-screen(768)  {}
@include max-screen(640)  {}
*/

/*
  Use the following CSS rules to specify these families:

  font-family: 'Quicksand', sans-serif;
  font-family: 'Dosis', sans-serif;
*/

a {
  text-decoration: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.main-wrapper {
  width: 100%;
  .content-wrapper {
    max-width: 1180px;
    margin: 0 auto;
    padding: 50px 0;
  }
}

.header-wrapper {
  width: 100%;
  font-size: 0;

  .sidebar-xl {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background-color: $color_white;
    width: 75%;
  }
  .navigation-wrapp {
    position: relative;
    display: inline-block;
    width: 25%;
    background: $color_black;
  }
}

.logo {
  padding: 15px 0;

  .logo-heading {
    display: inline-block;
    font: 24px $font_main;
    color: #111111;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px;
    border: 1px solid $color_red;
    padding: 5px 10px;
    margin: 0 0 0 210px;
  }
}

.social-icon-bar {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  margin-right: 20px;

  a {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
  }

  i {
    font-size: 24px;
    color: #000;
  }
}

.navigation-wrapp {
  padding: 24px 0;
  display: inline-block;
  vertical-align: top;
}

/*nav button */
.btn-wrapp {
  display: block;
  span {
    color: #fff;
    font: 21px $font_main;
    line-height: 25px;
  }
}

.button-toggle-navigation {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid hsl(0, 0, 98%);
  border-top: 2px solid hsl(0, 0, 98%);
  cursor: pointer;
  height: 17px;
  margin: 0 20px;
  position: relative;
  outline: 0;
  transition: border-color 150ms ease-out,
  transform 150ms ease-out;
  width: 35px;
  padding: 0;

  &::after,
  &::before {
    border-bottom: 2px solid $color_white;
    bottom: 6px;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    transition: transform 200ms ease-out;
  }
}

.isActive {
  border-color: transparent;
  transform: rotateZ(90deg);

  &::after,
  &::before {
    transition: transform 200ms ease-out;
  }

  &::after {
    transform: rotateZ(45deg);
  }

  &::before {
    transform: rotateZ(-45deg);
  }
}

/* end of nav button */

/* navigation-list */
.navigation-list {
  width: 25%;
  display: none;
  position: absolute;
  z-index: 5;
  top: 72px;
  right: 0;
  max-height: 400px;
  background: rgba(0, 0, 0, 0.9);
  a {
    height: auto;
    display: block;
    color: $color_white;
    font: 16px $font_main;
    padding: 10px 20px;
    &:hover {
      background-color: $color_dark-grey;
    }
  }
}

/* end of navigation-list */

.m_banner {
  width: 100%;
  background: $color_soft-gray;
  background: url("../images/banner_bg.png") no-repeat;
  background-size: cover;
  .m_banner-inner {
    max-width: 640px;
    margin: 0 auto;
    padding: 250px 0 290px;
    h4 {
      font: 30px $font_secondary;
      color: $color_white;
      font-weight: 300;
      margin-bottom: 20px;
      text-align: center;
      display: block;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 70px;
        top: 50%;
        margin-top: -1px;
        display: block;
        width: 140px;
        height: 1px;
        background: rgba(255, 255, 255, .5);
      }
      &:after {
        content: "";
        position: absolute;
        right: 70px;
        top: 50%;
        margin: -1px;
        display: block;
        width: 140px;
        height: 1px;
        background: rgba(255, 255, 255, 0.5);
      }
    }
    h1 {
      text-transform: uppercase;
      font: 72px $font_main;
      color: $color_white;
      font-weight: 700;
      line-height: 66px;
      text-align: center;
      margin-bottom: 40px;
    }
    a.btn-check-us {
      font: 18px $font_main;
      color: $color_white;
      display: block;
      width: 100px;
      margin: 0 auto;
      text-align: center;
      font-weight: 400;
      border: 2px solid $color_white;
      border-radius: 25px;
      padding: 10px 40px;

      box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.5);
      -webkit-transition: all ease 0.8s;
      -moz-transition: all ease 0.8s;
      transition: all ease 0.8s;
      &:hover {
        box-shadow: inset 0 100px rgba(0, 0, 0, 0.5);
        border-color: transparent;
      }
    }
  }
}

/*-------------------------------------Progress bar---------------*/
.progress-bar-wrapp {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
  .projects, .clients, .months {
    position: relative;
    padding: 0 10px;
    opacity: 0;
    canvas {
      margin-bottom: 10px;
    }
    strong {
      font: 72px $font_main;
      position: absolute;
      top: 63px;
      left: 0;
      width: 100%;
      text-align: center;
      z-index: 50;
    }
    h5 {
      font: 18px $font_main;
    }
    p {
      font: 14px $font_main;
    }
  }
}

/*---------------------------Meet us---------------------------*/
.meet-us-section {
  background: url("../images/meet-us-bg.png") no-repeat;
  background-size: cover;
}

.prev-section-wrapper {
  padding: 50px 10px;
  .prev-section {
    max-width: 1116px;
    margin: 0 auto;
    padding: 90px 0;
    border: 2px solid $color_white;
    span {
      position: relative;
      display: block;
      font: 18px $font_main;
      color: #ffffff;
      font-weight: 300;
      text-align: center;
      max-width: 100px;
      margin: 0 auto 20px;
      &:before {
        content: "";
        display: block;
        position: absolute;
        left: -50px;
        top: 50%;
        width: 50px;
        height: 1px;
        background: rgba(255, 255, 255, 0.6);
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        right: -50px;
        top: 50%;
        width: 50px;
        height: 1px;
        background: rgba(255, 255, 255, 0.6);
      }
    }
    h2 {
      font: 48px $font_main;
      color: #ffffff;
      font-weight: 700;
      text-align: center;
    }
  }
}

/*-------------------------------- Our team ----------------*/
.our-team-inner {
  display: table;
  .first-type-photo {
    position: relative;
    width: 50%;
    display: table-cell;
    &:before {
      content: "";
      position: absolute;
      top: 20px;
      right: 0;
      bottom: 20px;
      left: 18px;
      border: 2px solid white;
      border-right: none;
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -40px;
      border-top: 40px solid transparent;
      border-right: 40px solid $color_white;
      border-bottom: 40px solid transparent;
    }
    img {
      width: 100%;
    }
  }
  .hero-text-block {
    width: 50%;
    position: relative;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    &:before {
      content: "";
      position: absolute;
      top: 20px;
      left: 0;
      bottom: 20px;
      right: 18px;
      border: 2px solid $color_black;
      border-left: none;
    }
    h3 {
      font: 36px $font_main;
      color: $color_black;
      font-weight: 400;
      text-align: center;
    }
    span {
      display: block;
      font: 16px $font_main;
      color: $color_black;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
      position: relative;
      margin-bottom: 20px;
      &:after {
        content: "";
        position: absolute;
        height: 2px;
        background-color: $color_red;
        width: 160px;
        bottom: -10px;
        left: 50%;
        margin-left: -80px;

      }
    }
    p {
      display: block;
      max-width: 70%;
      margin: 0 auto;
      font: 20px $font_main;
      color: $color_dark-grey;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
    }
  }
}

.inverse-our-team-inner {
  display: table;
  .inverse-first-type-photo {
    position: relative;
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    &:before {
      content: "";
      position: absolute;
      top: 20px;
      left: 0;
      bottom: 20px;
      right: 18px;
      border: 2px solid $color_white;
      border-left: none;

    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -40px;
      border-top: 40px solid transparent;
      border-left: 40px solid $color_white;
      border-bottom: 40px solid transparent;
    }
    img {
      width: 100%;
    }
  }
  .inverse-hero-text-block {
    width: 50%;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    &:before {
      content: "";
      position: absolute;
      top: 20px;
      left: 18px;
      bottom: 20px;
      right: 0;
      border: 2px solid $color_black;
      border-right: none;
    }
    h3 {
      font: 36px $font_main;
      color: #000000;
      font-weight: 400;
      text-align: center;
    }
    span {
      display: block;
      font: 16px $font_main;
      color: #000000;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
      position: relative;
      margin-bottom: 20px;
      &:after {
        content: "";
        position: absolute;
        height: 2px;
        background-color: $color_red;
        width: 160px;
        bottom: -10px;
        left: 50%;
        margin-left: -80px;

      }
    }
    p {
      display: block;
      max-width: 70%;
      margin: 0 auto;
      font: 20px $font_main;
      color: $color_dark-grey;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
    }
  }
}

/*--------------------------------prev-portfolio section----------*/
.prev-portfolio {
  background: url("../images/prev-portfolio.png") no-repeat;
  background-size: cover;
  .prev-section {
    span {
      max-width: 200px;
    }
  }
}

/*--------------------------------Portfolio----------*/
.portfolio-wrapper {
  .portfolio-inner {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 0;
    .porrtfolio-img-wrapper {
      width: 16.666%;
      position: relative;
      img {
        width: 100%;
        filter: grayscale(100%) opacity(60%);
        transition-duration: 0.3s;
        &:hover {
          filter: grayscale(50%) opacity(100%);
          cursor: pointer;
        }
      }
      .learn-more-wrapper {
        display: none;
        background: url("../images/eye.png") no-repeat;
        background-size: cover;
        position: absolute;
        width: 40px;
        height: 30px;
        margin-left: -15px;
        margin-top: -20px;
        top: 50%;
        left: 50%;
      }
    }
  }
}

/*--------------------------------Prev-Brands---------------*/
.prev-brands {
  background: url("../images/brands-bg.png") no-repeat;
  background-size: cover;
  .prev-section {
    span {
      max-width: 180px;
    }
  }
}

/*------------------------------Brand List-----------------*/
.brand-list {
  width: 100%;
  .brand-row {
    border-bottom: 1px solid rgba(191, 191, 191, 0.1);
  }
  .brand-item {
    width: 14.285%;
    text-align: center;
    padding: 1% 1%;
    border-right: 1px solid rgba(191, 191, 191, 0.1);
    img {
      filter: grayscale(100%) opacity(50%);
    }
    &:first-child {
      padding: 1% 1% 1% 100px;
    }
    &:last-child {
      padding: 1% 100px 1% 1%;
    }
  }
}

/*---------------------Footer-------------------*/
footer {
  background-color: $color_footer;
  min-height: 100px;
  .footer-wrapper {
    max-width: 1180px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    .footer-section {
      font-size: 0;

      width: 33.333%;
      text-align: center;
      h4 {
        font: 30px $font_main;
        color: $color_white;
        font-weight: 300;
        margin-bottom: 30px;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          background-color: $color_marsh;
          height: 1px;
          width: 120px;
          margin-left: -60px;
          left: 50%;
          bottom: -10px;
        }
      }
      p, a {
        font: 18px $font_main;
        color: #4a4a4a;
        font-weight: 400;
        line-height: 22px;
        max-width: 150px;
        margin: 0 auto;
      }
      a {
        &:hover {
          color: $color_soft-gray;
        }
      }
    }
  }
  .copy {
    display: block;
    font: 12px $font_main;
    color: #4a4a4a;
    max-width: 170px;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 20px;
  }
}

@media screen and (max-width: 1180px) {
  .logo {
    .logo-heading {
      margin: 0 0 0 20px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header-wrapper {
    .sidebar-xl {
      width: 70%;
    }
    .navigation-wrapp {
      width: 30%;
    }
    .navigation-list {
      width: 30%;
    }
  }
}

@media screen and (max-width: 980px) {
  .our-team-inner {
    display: flex;
    flex-direction: column-reverse;
    .first-type-photo {
      display: block;
      min-width: 75%;
      margin: 0 auto;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 18px;
        bottom: 20px;
        right: 18px;
        border: 2px solid $color_white;
        border-top: none;
      }
      &:after {
        content: "";
        position: absolute;
        top: 40px;
        right: 50%;
        margin-right: -40px;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-top: 40px solid $color_white;
      }
      img {
        min-width: 100%;
      }
    }
    .hero-text-block {
      display: block;
      min-width: 75%;
      margin: 0 auto;
      padding: 12% 0;
      &:before {
        content: "";
        position: absolute;
        top: 20px;
        left: 18px;
        bottom: 0;
        right: 18px;
        border: 2px solid $color_black;
        border-bottom: none;
      }
    }
  }
  /*-----------------------reverse----------------*/
  .inverse-our-team-inner {
    display: flex;
    flex-direction: column;
    .inverse-first-type-photo {
      display: block;
      min-width: 75%;
      margin: 0 auto;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 18px;
        bottom: 20px;
        right: 18px;
        border: 2px solid $color_white;
        border-top: none;
      }
      &:after {
        content: "";
        position: absolute;
        top: 40px;
        left: 50%;
        margin-left: -40px;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-top: 40px solid $color_white;
      }
      img {
        min-width: 100%;
      }
    }
    .inverse-hero-text-block {
      min-width: 75%;
      margin: 0 auto;
      display: block;
      padding: 12% 0;
      &:before {
        content: "";
        position: absolute;
        top: 20px;
        left: 18px;
        bottom: 0;
        right: 18px;
        border: 2px solid $color_black;
        border-bottom: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header-wrapper {
    .sidebar-xl {
      width: 60%;
    }
    .navigation-wrapp {
      width: 40%;
    }
    .navigation-list {
      width: 40%;
    }
  }

  .m_banner {
    .m_banner-inner {
      padding: 150px 0 170px;
    }
  }
  .progress-bar-wrapp {
    display: flex;
    flex-direction: column;
    .projects, .clients, .months {
      position: relative;
      padding: 0 10px;
      margin: 0 auto 25px;
    }
    .months {
      margin: 0 auto 0;
    }
  }
  .our-team-inner {
    display: flex;
    flex-direction: column-reverse;
    .first-type-photo {
      min-width: 90%;
      img {
        min-width: 100%;
      }
    }
    .hero-text-block {
      min-width: 90%;
    }

  }
  .inverse-our-team-inner {
    display: flex;
    flex-direction: column;
    .inverse-first-type-photo {
      min-width: 90%;
      img {
        min-width: 100%;
      }
    }
    .inverse-hero-text-block {
      min-width: 90%;
    }
  }
  .portfolio-wrapper {
    .portfolio-inner {
      .porrtfolio-img-wrapper {
        width: 33.333%;
      }
    }
  }
  .brand-list {
    .desctop-only {
      display: none;
    }
    .brand-item {
      width: 33.333%;
      text-align: center;
      padding: 1% 1%;
      border-right: 1px solid rgba(191, 191, 191, 0.1);
      img {
        filter: grayscale(100%) opacity(50%);
      }
      &:first-child {
        padding: 1%;
      }
      &:last-child {
        padding: 1%;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .header-wrapper {
    .sidebar-xl {
      width: 75%;
      .logo {
        padding: 10px 0;
      }
    }
    .navigation-wrapp {
      width: 25%;
      padding: 19px 0;
    }
    .navigation-list {
      top: 63px;
      width: 100%;
      text-align: center;
    }
    .social-icon-bar {
      display: none;
    }
  }
  .m_banner {
    .m_banner-inner {
      padding: 120px 0 150px;
      h4 {
        font: 20px $font_secondary;
        &:before {
          width: 10%;
          left: 25%;
        }
        &:after {
          width: 10%;
          right: 25%;
        }
      }
      h1 {
        font: 50px $font_main;
      }
    }
  }
  .our-team-inner {
    display: flex;
    flex-direction: column-reverse;
    .first-type-photo {
      min-width: 100%;
      img {
        min-width: 100%;
      }
    }
    .hero-text-block {
      min-width: 100%;
    }

  }
  .inverse-our-team-inner {
    display: flex;
    flex-direction: column;
    .inverse-first-type-photo {
      min-width: 100%;
      img {
        min-width: 100%;
      }
    }
    .inverse-hero-text-block {
      min-width: 100%;
    }
  }
  footer {
    .footer-wrapper {
      padding: 10px 0;
      flex-direction: column;
      align-items: center;
      .footer-section {
        margin-bottom: 15px;
        h4 {
          font: 16px $font_main;
          margin-bottom: 15px;
        }
        p, a{
          font: 14px $font_main;
          max-width: 320px;
        }
      }
    }
    .copy{
      padding: 0 0 10px;
    }
  }
}

@media screen and (max-width: 590px) {
  .header-wrapper {
    .sidebar-xl {
      width: 100%;
    }
    .navigation-wrapp {
      position: absolute;
      top: 0;
      right: 0;
      width: 75px;
      padding: 23px 0;
      span {
        display: none;
      }
      .navigation-list {
        position: absolute;
        left: 0;
        top: 63px;
      }
    }
  }
  .our-team-inner {
    .hero-text-block {
      h3 {
        font: 30px $font_main;
      }
      span {
        font: 12px $font_main;
        &:after {
          width: 120px;
          margin-left: -60px;
        }
      }
      p {
        font: 16px $font_main;
      }
    }
  }
  .inverse-our-team-inner {
    .inverse-hero-text-block {
      h3 {
        font: 30px $font_main;
      }
      span {
        font: 12px $font_main;
        &:after {
          width: 120px;
          margin-left: -60px;
        }
      }
      p {
        font: 16px $font_main;
      }
    }
  }
}

@media screen and (max-width: 475px) {

  .m_banner {
    .m_banner-inner {
      padding: 130px 0 150px;
      h4 {
        margin-bottom: 15px;
        &:before {
          width: 15%;
          left: 20%;
        }
        &:after {
          width: 15%;
          right: 20%;
        }
      }
      h1 {
        font: 35px $font_main;
        margin-bottom: 20px;
      }
      a.btn-check-us {
        border: 1px solid $color_white;
      }
    }
  }
  .prev-section-wrapper {
    .prev-section {
      padding: 50px 0;
      h2 {
        font: 32px $font_main;
      }
    }
  }
  .our-team-inner {
    .first-type-photo {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 40px;
        right: 50%;
        margin-right: -20px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid white;
      }
    }
  }
  .inverse-our-team-inner {
    .inverse-first-type-photo {
      position: relative;
      &:after {
        content: "";
        position: absolute;
        top: 40px;
        left: 50%;
        margin-left: -20px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid white;
      }
    }
  }
}

@media screen and (max-width: 400px) {

  .m_banner {
    .m_banner-inner {
      h4 {
        margin-bottom: 15px;
        &:before {
          width: 10%;
          left: 15%;
        }
        &:after {
          width: 10%;
          right: 15%;
        }
      }
    }
  }
  .prev-section-wrapper {
    .prev-section {
      h2 {
        font: 32px $font_main;
      }
    }
  }
  .our-team-inner {
    .hero-text-block {
      h3 {
        font: 26px $font_main;
      }
      p {
        max-width: 85%;
      }
    }
  }
  .inverse-our-team-inner {
    .inverse-hero-text-block {
      h3 {
        font: 26px $font_main;
      }
      p {
        max-width: 85%;
      }
    }
  }
  .prev-portfolio {
    .prev-section {
      span {
        &:before {
          width: 40px;
          left: -40px;
        }
        &:after {
          width: 40px;
          right: -40px;
        }
      }
    }
  }
}



