/* colors */
/* fonts */
/* media queries
@include max-screen(1024) {}
@include max-screen(768)  {}
@include max-screen(640)  {}
*/
/*
  Use the following CSS rules to specify these families:

  font-family: 'Quicksand', sans-serif;
  font-family: 'Dosis', sans-serif;
*/
a {
  text-decoration: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.main-wrapper {
  width: 100%; }
  .main-wrapper .content-wrapper {
    max-width: 1180px;
    margin: 0 auto;
    padding: 50px 0; }

.header-wrapper {
  width: 100%;
  font-size: 0; }
  .header-wrapper .sidebar-xl {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    width: 75%; }
  .header-wrapper .navigation-wrapp {
    position: relative;
    display: inline-block;
    width: 25%;
    background: black; }

.logo {
  padding: 15px 0; }
  .logo .logo-heading {
    display: inline-block;
    font: 24px "Quicksand", sans-serif;
    color: #111111;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px;
    border: 1px solid #f34739;
    padding: 5px 10px;
    margin: 0 0 0 210px; }

.social-icon-bar {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  margin-right: 20px; }
  .social-icon-bar a {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center; }
  .social-icon-bar i {
    font-size: 24px;
    color: #000; }

.navigation-wrapp {
  padding: 24px 0;
  display: inline-block;
  vertical-align: top; }

/*nav button */
.btn-wrapp {
  display: block; }
  .btn-wrapp span {
    color: #fff;
    font: 21px "Quicksand", sans-serif;
    line-height: 25px; }

.button-toggle-navigation {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #fafafa;
  border-top: 2px solid #fafafa;
  cursor: pointer;
  height: 17px;
  margin: 0 20px;
  position: relative;
  outline: 0;
  transition: border-color 150ms ease-out, transform 150ms ease-out;
  width: 35px;
  padding: 0; }
  .button-toggle-navigation::after, .button-toggle-navigation::before {
    border-bottom: 2px solid white;
    bottom: 6px;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    transition: transform 200ms ease-out; }

.isActive {
  border-color: transparent;
  transform: rotateZ(90deg); }
  .isActive::after, .isActive::before {
    transition: transform 200ms ease-out; }
  .isActive::after {
    transform: rotateZ(45deg); }
  .isActive::before {
    transform: rotateZ(-45deg); }

/* end of nav button */
/* navigation-list */
.navigation-list {
  width: 25%;
  display: none;
  position: absolute;
  z-index: 5;
  top: 72px;
  right: 0;
  max-height: 400px;
  background: rgba(0, 0, 0, 0.9); }
  .navigation-list a {
    height: auto;
    display: block;
    color: white;
    font: 16px "Quicksand", sans-serif;
    padding: 10px 20px; }
    .navigation-list a:hover {
      background-color: #454545; }

/* end of navigation-list */
.m_banner {
  width: 100%;
  background: #bfbfbf;
  background: url("../images/banner_bg.png") no-repeat;
  background-size: cover; }
  .m_banner .m_banner-inner {
    max-width: 640px;
    margin: 0 auto;
    padding: 250px 0 290px; }
    .m_banner .m_banner-inner h4 {
      font: 30px "Dosis", sans-serif;
      color: white;
      font-weight: 300;
      margin-bottom: 20px;
      text-align: center;
      display: block;
      position: relative; }
      .m_banner .m_banner-inner h4:before {
        content: "";
        position: absolute;
        left: 70px;
        top: 50%;
        margin-top: -1px;
        display: block;
        width: 140px;
        height: 1px;
        background: rgba(255, 255, 255, 0.5); }
      .m_banner .m_banner-inner h4:after {
        content: "";
        position: absolute;
        right: 70px;
        top: 50%;
        margin: -1px;
        display: block;
        width: 140px;
        height: 1px;
        background: rgba(255, 255, 255, 0.5); }
    .m_banner .m_banner-inner h1 {
      text-transform: uppercase;
      font: 72px "Quicksand", sans-serif;
      color: white;
      font-weight: 700;
      line-height: 66px;
      text-align: center;
      margin-bottom: 40px; }
    .m_banner .m_banner-inner a.btn-check-us {
      font: 18px "Quicksand", sans-serif;
      color: white;
      display: block;
      width: 100px;
      margin: 0 auto;
      text-align: center;
      font-weight: 400;
      border: 2px solid white;
      border-radius: 25px;
      padding: 10px 40px;
      box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.5);
      -webkit-transition: all ease 0.8s;
      -moz-transition: all ease 0.8s;
      transition: all ease 0.8s; }
      .m_banner .m_banner-inner a.btn-check-us:hover {
        box-shadow: inset 0 100px rgba(0, 0, 0, 0.5);
        border-color: transparent; }

/*-------------------------------------Progress bar---------------*/
.progress-bar-wrapp {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  text-align: center; }
  .progress-bar-wrapp .projects, .progress-bar-wrapp .clients, .progress-bar-wrapp .months {
    position: relative;
    padding: 0 10px;
    opacity: 0; }
    .progress-bar-wrapp .projects canvas, .progress-bar-wrapp .clients canvas, .progress-bar-wrapp .months canvas {
      margin-bottom: 10px; }
    .progress-bar-wrapp .projects strong, .progress-bar-wrapp .clients strong, .progress-bar-wrapp .months strong {
      font: 72px "Quicksand", sans-serif;
      position: absolute;
      top: 63px;
      left: 0;
      width: 100%;
      text-align: center;
      z-index: 50; }
    .progress-bar-wrapp .projects h5, .progress-bar-wrapp .clients h5, .progress-bar-wrapp .months h5 {
      font: 18px "Quicksand", sans-serif; }
    .progress-bar-wrapp .projects p, .progress-bar-wrapp .clients p, .progress-bar-wrapp .months p {
      font: 14px "Quicksand", sans-serif; }

/*---------------------------Meet us---------------------------*/
.meet-us-section {
  background: url("../images/meet-us-bg.png") no-repeat;
  background-size: cover; }

.prev-section-wrapper {
  padding: 50px 10px; }
  .prev-section-wrapper .prev-section {
    max-width: 1116px;
    margin: 0 auto;
    padding: 90px 0;
    border: 2px solid white; }
    .prev-section-wrapper .prev-section span {
      position: relative;
      display: block;
      font: 18px "Quicksand", sans-serif;
      color: #ffffff;
      font-weight: 300;
      text-align: center;
      max-width: 100px;
      margin: 0 auto 20px; }
      .prev-section-wrapper .prev-section span:before {
        content: "";
        display: block;
        position: absolute;
        left: -50px;
        top: 50%;
        width: 50px;
        height: 1px;
        background: rgba(255, 255, 255, 0.6); }
      .prev-section-wrapper .prev-section span:after {
        content: "";
        display: block;
        position: absolute;
        right: -50px;
        top: 50%;
        width: 50px;
        height: 1px;
        background: rgba(255, 255, 255, 0.6); }
    .prev-section-wrapper .prev-section h2 {
      font: 48px "Quicksand", sans-serif;
      color: #ffffff;
      font-weight: 700;
      text-align: center; }

/*-------------------------------- Our team ----------------*/
.our-team-inner {
  display: table; }
  .our-team-inner .first-type-photo {
    position: relative;
    width: 50%;
    display: table-cell; }
    .our-team-inner .first-type-photo:before {
      content: "";
      position: absolute;
      top: 20px;
      right: 0;
      bottom: 20px;
      left: 18px;
      border: 2px solid white;
      border-right: none; }
    .our-team-inner .first-type-photo:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -40px;
      border-top: 40px solid transparent;
      border-right: 40px solid white;
      border-bottom: 40px solid transparent; }
    .our-team-inner .first-type-photo img {
      width: 100%; }
  .our-team-inner .hero-text-block {
    width: 50%;
    position: relative;
    height: 100%;
    display: table-cell;
    vertical-align: middle; }
    .our-team-inner .hero-text-block:before {
      content: "";
      position: absolute;
      top: 20px;
      left: 0;
      bottom: 20px;
      right: 18px;
      border: 2px solid black;
      border-left: none; }
    .our-team-inner .hero-text-block h3 {
      font: 36px "Quicksand", sans-serif;
      color: black;
      font-weight: 400;
      text-align: center; }
    .our-team-inner .hero-text-block span {
      display: block;
      font: 16px "Quicksand", sans-serif;
      color: black;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
      position: relative;
      margin-bottom: 20px; }
      .our-team-inner .hero-text-block span:after {
        content: "";
        position: absolute;
        height: 2px;
        background-color: #f34739;
        width: 160px;
        bottom: -10px;
        left: 50%;
        margin-left: -80px; }
    .our-team-inner .hero-text-block p {
      display: block;
      max-width: 70%;
      margin: 0 auto;
      font: 20px "Quicksand", sans-serif;
      color: #454545;
      font-weight: 400;
      line-height: 22px;
      text-align: center; }

.inverse-our-team-inner {
  display: table; }
  .inverse-our-team-inner .inverse-first-type-photo {
    position: relative;
    width: 50%;
    display: table-cell;
    vertical-align: middle; }
    .inverse-our-team-inner .inverse-first-type-photo:before {
      content: "";
      position: absolute;
      top: 20px;
      left: 0;
      bottom: 20px;
      right: 18px;
      border: 2px solid white;
      border-left: none; }
    .inverse-our-team-inner .inverse-first-type-photo:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -40px;
      border-top: 40px solid transparent;
      border-left: 40px solid white;
      border-bottom: 40px solid transparent; }
    .inverse-our-team-inner .inverse-first-type-photo img {
      width: 100%; }
  .inverse-our-team-inner .inverse-hero-text-block {
    width: 50%;
    position: relative;
    display: table-cell;
    vertical-align: middle; }
    .inverse-our-team-inner .inverse-hero-text-block:before {
      content: "";
      position: absolute;
      top: 20px;
      left: 18px;
      bottom: 20px;
      right: 0;
      border: 2px solid black;
      border-right: none; }
    .inverse-our-team-inner .inverse-hero-text-block h3 {
      font: 36px "Quicksand", sans-serif;
      color: #000000;
      font-weight: 400;
      text-align: center; }
    .inverse-our-team-inner .inverse-hero-text-block span {
      display: block;
      font: 16px "Quicksand", sans-serif;
      color: #000000;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
      position: relative;
      margin-bottom: 20px; }
      .inverse-our-team-inner .inverse-hero-text-block span:after {
        content: "";
        position: absolute;
        height: 2px;
        background-color: #f34739;
        width: 160px;
        bottom: -10px;
        left: 50%;
        margin-left: -80px; }
    .inverse-our-team-inner .inverse-hero-text-block p {
      display: block;
      max-width: 70%;
      margin: 0 auto;
      font: 20px "Quicksand", sans-serif;
      color: #454545;
      font-weight: 400;
      line-height: 22px;
      text-align: center; }

/*--------------------------------prev-portfolio section----------*/
.prev-portfolio {
  background: url("../images/prev-portfolio.png") no-repeat;
  background-size: cover; }
  .prev-portfolio .prev-section span {
    max-width: 200px; }

/*--------------------------------Portfolio----------*/
.portfolio-wrapper .portfolio-inner {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 0; }
  .portfolio-wrapper .portfolio-inner .porrtfolio-img-wrapper {
    width: 16.666%;
    position: relative; }
    .portfolio-wrapper .portfolio-inner .porrtfolio-img-wrapper img {
      width: 100%;
      filter: grayscale(100%) opacity(60%);
      transition-duration: 0.3s; }
      .portfolio-wrapper .portfolio-inner .porrtfolio-img-wrapper img:hover {
        filter: grayscale(50%) opacity(100%);
        cursor: pointer; }
    .portfolio-wrapper .portfolio-inner .porrtfolio-img-wrapper .learn-more-wrapper {
      display: none;
      background: url("../images/eye.png") no-repeat;
      background-size: cover;
      position: absolute;
      width: 40px;
      height: 30px;
      margin-left: -15px;
      margin-top: -20px;
      top: 50%;
      left: 50%; }

/*--------------------------------Prev-Brands---------------*/
.prev-brands {
  background: url("../images/brands-bg.png") no-repeat;
  background-size: cover; }
  .prev-brands .prev-section span {
    max-width: 180px; }

/*------------------------------Brand List-----------------*/
.brand-list {
  width: 100%; }
  .brand-list .brand-row {
    border-bottom: 1px solid rgba(191, 191, 191, 0.1); }
  .brand-list .brand-item {
    width: 14.285%;
    text-align: center;
    padding: 1% 1%;
    border-right: 1px solid rgba(191, 191, 191, 0.1); }
    .brand-list .brand-item img {
      filter: grayscale(100%) opacity(50%); }
    .brand-list .brand-item:first-child {
      padding: 1% 1% 1% 100px; }
    .brand-list .brand-item:last-child {
      padding: 1% 100px 1% 1%; }

/*---------------------Footer-------------------*/
footer {
  background-color: #101010;
  min-height: 100px; }
  footer .footer-wrapper {
    max-width: 1180px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex; }
    footer .footer-wrapper .footer-section {
      font-size: 0;
      width: 33.333%;
      text-align: center; }
      footer .footer-wrapper .footer-section h4 {
        font: 30px "Quicksand", sans-serif;
        color: white;
        font-weight: 300;
        margin-bottom: 30px;
        position: relative; }
        footer .footer-wrapper .footer-section h4:after {
          content: "";
          position: absolute;
          background-color: #009989;
          height: 1px;
          width: 120px;
          margin-left: -60px;
          left: 50%;
          bottom: -10px; }
      footer .footer-wrapper .footer-section p, footer .footer-wrapper .footer-section a {
        font: 18px "Quicksand", sans-serif;
        color: #4a4a4a;
        font-weight: 400;
        line-height: 22px;
        max-width: 150px;
        margin: 0 auto; }
      footer .footer-wrapper .footer-section a:hover {
        color: #bfbfbf; }
  footer .copy {
    display: block;
    font: 12px "Quicksand", sans-serif;
    color: #4a4a4a;
    max-width: 170px;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 20px; }

@media screen and (max-width: 1180px) {
  .logo .logo-heading {
    margin: 0 0 0 20px; } }

@media screen and (max-width: 1024px) {
  .header-wrapper .sidebar-xl {
    width: 70%; }
  .header-wrapper .navigation-wrapp {
    width: 30%; }
  .header-wrapper .navigation-list {
    width: 30%; } }

@media screen and (max-width: 980px) {
  .our-team-inner {
    display: flex;
    flex-direction: column-reverse; }
    .our-team-inner .first-type-photo {
      display: block;
      min-width: 75%;
      margin: 0 auto; }
      .our-team-inner .first-type-photo:before {
        content: "";
        position: absolute;
        top: 0;
        left: 18px;
        bottom: 20px;
        right: 18px;
        border: 2px solid white;
        border-top: none; }
      .our-team-inner .first-type-photo:after {
        content: "";
        position: absolute;
        top: 40px;
        right: 50%;
        margin-right: -40px;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-top: 40px solid white; }
      .our-team-inner .first-type-photo img {
        min-width: 100%; }
    .our-team-inner .hero-text-block {
      display: block;
      min-width: 75%;
      margin: 0 auto;
      padding: 12% 0; }
      .our-team-inner .hero-text-block:before {
        content: "";
        position: absolute;
        top: 20px;
        left: 18px;
        bottom: 0;
        right: 18px;
        border: 2px solid black;
        border-bottom: none; }
  /*-----------------------reverse----------------*/
  .inverse-our-team-inner {
    display: flex;
    flex-direction: column; }
    .inverse-our-team-inner .inverse-first-type-photo {
      display: block;
      min-width: 75%;
      margin: 0 auto; }
      .inverse-our-team-inner .inverse-first-type-photo:before {
        content: "";
        position: absolute;
        top: 0;
        left: 18px;
        bottom: 20px;
        right: 18px;
        border: 2px solid white;
        border-top: none; }
      .inverse-our-team-inner .inverse-first-type-photo:after {
        content: "";
        position: absolute;
        top: 40px;
        left: 50%;
        margin-left: -40px;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-top: 40px solid white; }
      .inverse-our-team-inner .inverse-first-type-photo img {
        min-width: 100%; }
    .inverse-our-team-inner .inverse-hero-text-block {
      min-width: 75%;
      margin: 0 auto;
      display: block;
      padding: 12% 0; }
      .inverse-our-team-inner .inverse-hero-text-block:before {
        content: "";
        position: absolute;
        top: 20px;
        left: 18px;
        bottom: 0;
        right: 18px;
        border: 2px solid black;
        border-bottom: none; } }

@media screen and (max-width: 768px) {
  .header-wrapper .sidebar-xl {
    width: 60%; }
  .header-wrapper .navigation-wrapp {
    width: 40%; }
  .header-wrapper .navigation-list {
    width: 40%; }
  .m_banner .m_banner-inner {
    padding: 150px 0 170px; }
  .progress-bar-wrapp {
    display: flex;
    flex-direction: column; }
    .progress-bar-wrapp .projects, .progress-bar-wrapp .clients, .progress-bar-wrapp .months {
      position: relative;
      padding: 0 10px;
      margin: 0 auto 25px; }
    .progress-bar-wrapp .months {
      margin: 0 auto 0; }
  .our-team-inner {
    display: flex;
    flex-direction: column-reverse; }
    .our-team-inner .first-type-photo {
      min-width: 90%; }
      .our-team-inner .first-type-photo img {
        min-width: 100%; }
    .our-team-inner .hero-text-block {
      min-width: 90%; }
  .inverse-our-team-inner {
    display: flex;
    flex-direction: column; }
    .inverse-our-team-inner .inverse-first-type-photo {
      min-width: 90%; }
      .inverse-our-team-inner .inverse-first-type-photo img {
        min-width: 100%; }
    .inverse-our-team-inner .inverse-hero-text-block {
      min-width: 90%; }
  .portfolio-wrapper .portfolio-inner .porrtfolio-img-wrapper {
    width: 33.333%; }
  .brand-list .desctop-only {
    display: none; }
  .brand-list .brand-item {
    width: 33.333%;
    text-align: center;
    padding: 1% 1%;
    border-right: 1px solid rgba(191, 191, 191, 0.1); }
    .brand-list .brand-item img {
      filter: grayscale(100%) opacity(50%); }
    .brand-list .brand-item:first-child {
      padding: 1%; }
    .brand-list .brand-item:last-child {
      padding: 1%; } }

@media screen and (max-width: 640px) {
  .header-wrapper .sidebar-xl {
    width: 75%; }
    .header-wrapper .sidebar-xl .logo {
      padding: 10px 0; }
  .header-wrapper .navigation-wrapp {
    width: 25%;
    padding: 19px 0; }
  .header-wrapper .navigation-list {
    top: 63px;
    width: 100%;
    text-align: center; }
  .header-wrapper .social-icon-bar {
    display: none; }
  .m_banner .m_banner-inner {
    padding: 120px 0 150px; }
    .m_banner .m_banner-inner h4 {
      font: 20px "Dosis", sans-serif; }
      .m_banner .m_banner-inner h4:before {
        width: 10%;
        left: 25%; }
      .m_banner .m_banner-inner h4:after {
        width: 10%;
        right: 25%; }
    .m_banner .m_banner-inner h1 {
      font: 50px "Quicksand", sans-serif; }
  .our-team-inner {
    display: flex;
    flex-direction: column-reverse; }
    .our-team-inner .first-type-photo {
      min-width: 100%; }
      .our-team-inner .first-type-photo img {
        min-width: 100%; }
    .our-team-inner .hero-text-block {
      min-width: 100%; }
  .inverse-our-team-inner {
    display: flex;
    flex-direction: column; }
    .inverse-our-team-inner .inverse-first-type-photo {
      min-width: 100%; }
      .inverse-our-team-inner .inverse-first-type-photo img {
        min-width: 100%; }
    .inverse-our-team-inner .inverse-hero-text-block {
      min-width: 100%; }
  footer .footer-wrapper {
    padding: 10px 0;
    flex-direction: column;
    align-items: center; }
    footer .footer-wrapper .footer-section {
      margin-bottom: 15px; }
      footer .footer-wrapper .footer-section h4 {
        font: 16px "Quicksand", sans-serif;
        margin-bottom: 15px; }
      footer .footer-wrapper .footer-section p, footer .footer-wrapper .footer-section a {
        font: 14px "Quicksand", sans-serif;
        max-width: 320px; }
  footer .copy {
    padding: 0 0 10px; } }

@media screen and (max-width: 590px) {
  .header-wrapper .sidebar-xl {
    width: 100%; }
  .header-wrapper .navigation-wrapp {
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    padding: 23px 0; }
    .header-wrapper .navigation-wrapp span {
      display: none; }
    .header-wrapper .navigation-wrapp .navigation-list {
      position: absolute;
      left: 0;
      top: 63px; }
  .our-team-inner .hero-text-block h3 {
    font: 30px "Quicksand", sans-serif; }
  .our-team-inner .hero-text-block span {
    font: 12px "Quicksand", sans-serif; }
    .our-team-inner .hero-text-block span:after {
      width: 120px;
      margin-left: -60px; }
  .our-team-inner .hero-text-block p {
    font: 16px "Quicksand", sans-serif; }
  .inverse-our-team-inner .inverse-hero-text-block h3 {
    font: 30px "Quicksand", sans-serif; }
  .inverse-our-team-inner .inverse-hero-text-block span {
    font: 12px "Quicksand", sans-serif; }
    .inverse-our-team-inner .inverse-hero-text-block span:after {
      width: 120px;
      margin-left: -60px; }
  .inverse-our-team-inner .inverse-hero-text-block p {
    font: 16px "Quicksand", sans-serif; } }

@media screen and (max-width: 475px) {
  .m_banner .m_banner-inner {
    padding: 130px 0 150px; }
    .m_banner .m_banner-inner h4 {
      margin-bottom: 15px; }
      .m_banner .m_banner-inner h4:before {
        width: 15%;
        left: 20%; }
      .m_banner .m_banner-inner h4:after {
        width: 15%;
        right: 20%; }
    .m_banner .m_banner-inner h1 {
      font: 35px "Quicksand", sans-serif;
      margin-bottom: 20px; }
    .m_banner .m_banner-inner a.btn-check-us {
      border: 1px solid white; }
  .prev-section-wrapper .prev-section {
    padding: 50px 0; }
    .prev-section-wrapper .prev-section h2 {
      font: 32px "Quicksand", sans-serif; }
  .our-team-inner .first-type-photo {
    position: relative; }
    .our-team-inner .first-type-photo:after {
      content: "";
      position: absolute;
      top: 40px;
      right: 50%;
      margin-right: -20px;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid white; }
  .inverse-our-team-inner .inverse-first-type-photo {
    position: relative; }
    .inverse-our-team-inner .inverse-first-type-photo:after {
      content: "";
      position: absolute;
      top: 40px;
      left: 50%;
      margin-left: -20px;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid white; } }

@media screen and (max-width: 400px) {
  .m_banner .m_banner-inner h4 {
    margin-bottom: 15px; }
    .m_banner .m_banner-inner h4:before {
      width: 10%;
      left: 15%; }
    .m_banner .m_banner-inner h4:after {
      width: 10%;
      right: 15%; }
  .prev-section-wrapper .prev-section h2 {
    font: 32px "Quicksand", sans-serif; }
  .our-team-inner .hero-text-block h3 {
    font: 26px "Quicksand", sans-serif; }
  .our-team-inner .hero-text-block p {
    max-width: 85%; }
  .inverse-our-team-inner .inverse-hero-text-block h3 {
    font: 26px "Quicksand", sans-serif; }
  .inverse-our-team-inner .inverse-hero-text-block p {
    max-width: 85%; }
  .prev-portfolio .prev-section span:before {
    width: 40px;
    left: -40px; }
  .prev-portfolio .prev-section span:after {
    width: 40px;
    right: -40px; } }
